<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
<f:view locale="#{loginBean.locale}">
    <h:head>
        <title>#{msg.errorPage}</title>
        <h:outputStylesheet library="css" name="styles.css"/>
    </h:head>
    <h:body>
        <div class="greenRectangleSmall centerDiv textAlignCenter">
            <h:graphicImage name="images/senacor_logo_black.png" styleClass="centerImage"/>
            <h:form id="login">
                <p:outputLabel id="wrong_login" value="#{msg.wrongLoginText}"/>
            </h:form>
            <br/>
            <h:form>
                <p:commandButton value="#{msg.loginText}" action="login" styleClass="senacorButtonColor"/>
                <p:commandButton value="#{msg.signUpText}" action="register"
                                 styleClass="senacorButtonColor marginLeft20"/>
            </h:form>
        </div>
    </h:body>
</f:view>
</html>
