<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<f:view locale="#{loginBean.locale}">
    <h:head>
        <title>#{msg.evidenceSystem}</title>
        <h:outputStylesheet library="css" name="styles.css"/>
    </h:head>
    <h:body>
        <h:form>
            <p:commandButton id="enButton" value="" action="#{loginBean.changeLanguage('en')}"
                             styleClass="flag flag-en marginLeft20"/>
            <p:commandButton id="deButton" value="" action="#{loginBean.changeLanguage('de')}"
                             styleClass="flag flag-de marginLeft20"/>
            <p:commandButton id="skButton" value="" action="#{loginBean.changeLanguage('sk')}"
                             styleClass="flag flag-sk"/>
        </h:form>
        <h:form>
            <div class="greenRectangle centerImage">
                <h:graphicImage name="images/senacor_logo_black.png" styleClass="centerImage"/>
                <table class="centerDiv" cellspacing="10">
                    <tr>
                        <td align="right"><p:outputLabel value="#{msg.loginText}"/></td>
                        <td><p:inputText id="j_username" name="j_username" value="#{loginBean.email}"
                                         styleClass="width300">
                            <f:validator for="j_username" validatorId="emailAddressValidate"/></p:inputText></td>
                    </tr>
                    <tr>
                        <td align="right"><p:outputLabel value="#{msg.passwordText}"/></td>
                        <td><p:password id="passwordField" value="#{loginBean.password}" styleClass="width300"/></td>
                    </tr>
                    <tr>
                        <td/>
                        <td><p:commandButton styleClass="senacorButtonColor" id="login_button"
                                             action="#{loginBean.login}"
                                             value="#{msg.loginText}" ajax="false"/>
                            <p:commandButton styleClass="senacorButtonColor marginLeft20" immediate="true"
                                             id="sing_up_button" value="#{msg.signUpText}"
                                             action="register?faces-redirect=true"/></td>
                    </tr>
                </table>
            </div>
            <p:messages id="invalid_email_address" for="j_username" autoUpdate="true" showDetail="false"/>
        </h:form>
    </h:body>
</f:view>
</html>
