<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<f:view locale="#{loginBean.locale}">
    <h:head>
        <title>#{msg.registerPage}</title>
        <h:outputStylesheet library="css" name="styles.css"/>
    </h:head>
    <h:body>
        <h:form>
            <div class="greenRectangleLarge centerImage">
                <h:graphicImage name="images/senacor_logo_black.png" styleClass="centerImage"/>
                <table class="centerDiv" cellspacing="10">
                    <tr>
                        <td align="right"><p:outputLabel value="#{msg.emailAddressText}"/></td>
                        <td><p:inputText id="emailAddress" value="#{registerPageModelView.emailAddress}"
                                         styleClass="width300">
                            <f:validator validatorId="emailAddressValidate"/>
                        </p:inputText></td>
                    </tr>
                    <tr>
                        <td align="right"><p:outputLabel value="#{msg.passwordText}"/></td>
                        <td><p:password id="register_password_field" value="#{registerPageModelView.password}"
                                        styleClass="width300"/></td>
                    </tr>
                    <tr>
                        <td align="right"><p:outputLabel value="#{msg.confirmPasswordText}"/></td>
                        <td><p:password id="register_repeat_password_field" styleClass="width300"
                                        value="#{registerPageModelView.confirmPassword}"/></td>
                    </tr>
                    <tr>
                        <td/>
                        <td><p:commandButton id="singUpButtonRegisterPage" value="#{msg.signUpText}"
                                             styleClass="senacorButtonColor"
                                             action="#{registerPageModelView.registerNewUser}" type="submit"/>
                            <p:button id="login_b_register_page" styleClass="senacorButtonColor marginLeft20"
                                      value="#{msg.loginText}" outcome="login"/></td>
                    </tr>
                </table>
            </div>
            <p:messages id="invalid_email_address" for="emailAddress" autoUpdate="true" showDetail="false"/>
            <p:messages id="different_passwords" for="differentPassword" autoUpdate="true" showDetail="false"/>
            <p:messages for="emptyFields" autoUpdate="true" showDetail="false"/>
            <p:messages for="invalidRegistration" autoUpdate="true" showDetail="false"/>
            <p:messages id="correct_registration_message" for="correctRegistration" autoUpdate="true"
                        showDetail="false"/>
        </h:form>
    </h:body>
</f:view>
</html>