<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<f:view locale="#{loginBean.locale}">
    <h:head>
        <title>#{msg.manageProfileText}</title>
        <h:outputStylesheet library="css" name="styles.css"/>
    </h:head>
    <h:body>
        <h:form>
            <p:panelGrid columns="3" layout="grid" columnClasses="columnStyleLeft, columnStyleMiddle, columnStyleRight">
                <h:graphicImage value="resources/images/senacor_logo_white.png"/>
                <p:outputLabel value="#{manageProfileModelView.userName} (Student)"/>
                <h:panelGroup>
                    <p:commandButton id="logout_button_manage_profile" value="#{msg.logOutText}"
                                     styleClass="floatRight90" action="#{loginBean.logout}"/>
                    <p:button id="home_page_link" value="#{msg.homeText}" outcome="student_main_page.xhtml"
                              styleClass="floatRight90"/>
                </h:panelGroup>
            </p:panelGrid>
        </h:form>
        <h:form>
            <h:panelGrid columns="2" styleClass="bottomMargin" cellpadding="5">
                <p:outputLabel value="#{msg.myActualProjectText}"/>
                <p:selectOneMenu value="#{manageProfileModelView.actualProjectName}">
                    <f:selectItems value="#{manageProfileModelView.projectsNames}"/>
                </p:selectOneMenu>
                <p:outputLabel value="#{msg.typeOfMyContractText}"/>
                <p:selectOneRadio id="customRadio" value="#{manageProfileModelView.contractType}">
                    <f:selectItems value="#{manageProfileModelView.typeOfContracts}"
                                   var="type" itemValue="#{type}" itemLabel="#{type.name}"/>
                </p:selectOneRadio>
                <p:outputLabel value="#{msg.dateOfContractStartText}"/>
                <p:calendar id="manage_profile_calendar_start_date" value="#{manageProfileModelView.startDate}">
                    <p:ajax event="dateSelect" listener="#{manageProfileModelView.changeStartDate}"/>
                </p:calendar>
                <p:outputLabel value="#{msg.dateOfContractEnd}"/>

                <p:calendar id="manage_profile_calendar_end_date" value="#{manageProfileModelView.endDate}">
                    <p:ajax event="dateSelect" listener="#{manageProfileModelView.changeEndDate}"/>
                </p:calendar>
            </h:panelGrid>
            <p:commandButton id="apply_settings_button" value="#{msg.applySettingsText}"
                             action="#{manageProfileModelView.applySettings}"/>
        </h:form>
        <p:messages id="empty_fields_nessage" for="emptyFieldsManageProfilePage" autoUpdate="true" showDetail="false"/>
        <p:messages id="successful_update_message" for="successUpdateManageProfilePage" autoUpdate="true"
                    showDetail="false"/>
        <p:messages id="wrong_date" for="wrong_date" autoUpdate="true" showDetail="true"/>
    </h:body>
</f:view>
</html>