<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view locale="#{loginBean.locale}">
    <h:head>
        <title>#{msg.manageProjectsText}</title>
        <h:outputStylesheet library="css" name="styles.css"/>
    </h:head>
    <h:body>
        <h:form>
            <p:panelGrid columns="3" layout="grid" columnClasses="columnStyleLeft, columnStyleMiddle, columnStyleRight">
                <h:graphicImage value="resources/images/senacor_logo_white.png"/>
                <p:outputLabel id="welcome_text_admin"
                               value="#{officeManagerMainPageModelView.loggedUsersName} #{msg.officeManagerText}"/>
                <h:panelGroup>
                    <p:commandButton id="logout_b_manage_project" value="#{msg.logOutText}" styleClass="floatRight90"
                                     action="#{loginBean.logout}"/>
                    <p:button value="#{msg.homeText}" id="create_project_home_b"
                              outcome="office_manager_main_page.xhtml"
                              styleClass="floatRight90"/>
                </h:panelGroup>
            </p:panelGrid>
        </h:form>
        <h:form>
            <br/>
            <h:panelGrid columns="2" layou="grid">
                <p:outputLabel value="#{msg.projectName}"/>
                <p:inputText id="new_project_name_manage_project" value="#{manageProjectsPageModelView.projectName}"/>
                <p:commandButton id="create_project_button" value="#{msg.create}" oncomplete="PF('confirm').show()"
                                 update="confirmDialog"/>
            </h:panelGrid>
            <p:confirmDialog id="confirmDialog" header="Confirmation" widgetVar="confirm">
                <f:facet name="message">
                    <h:outputText
                            value="#{msg.reallyCreate}: #{manageProjectsPageModelView.projectName} ?"/>
                </f:facet>
                <p:commandButton id="yess_button" value="Yes" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
                                 actionListener="#{manageProjectsPageModelView.createProject}"/>
                <p:commandButton value="No" styleClass="ui-confirmdialog-no" icon="ui-icon-close"
                                 onclick="confirm.hide()"/>
            </p:confirmDialog>
        </h:form>
        <h:form id="projectsForm">
            <p:dataTable id="projectsTable" var="project" editable="true"
                         value="#{manageProjectsPageModelView.projectsList}" styleClass="default_width">
                <p:ajax event="rowEdit" listener="#{manageProjectsPageModelView.onRowEdit}"/>
                <p:column headerText="#{msg.projectName}">
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText id="edit_p_name_output"
                                                             value="#{project.projectName}"/>
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="edit_p_name_input" value="#{project.projectName}"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column style="width:16px">
                    <p:rowEditor/>
                </p:column>
            </p:dataTable>
        </h:form>
        <p:growl for="growl" autoUpdate="true" showDetail="true" life="2000"/>
    </h:body>
</f:view>
</html>