<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<f:view locale="#{loginBean.locale}">
    <h:head>
        <title>#{msg.mainPage}</title>
        <h:outputStylesheet library="css" name="styles.css"/>
    </h:head>
    <h:body>
        <h:form>
            <p:panelGrid columns="3" layout="grid" columnClasses="columnStyleLeft,columnStyleMiddle, columnStyleRight">
                <h:graphicImage value="resources/images/senacor_logo_white.png"/>
                <p:outputLabel id="welcome_text_admin"
                               value="#{msg.welcomeText} #{officeManagerMainPageModelView.loggedUsersName}! #{msg.officeManagerText}"/>
                <h:panelGroup>
                    <p:commandButton id="logout_b_office_manager" value="#{msg.logOutText}" styleClass="floatRight150"
                                     action="#{loginBean.logout}"/>
                    <p:button value="#{msg.manageProjectsText}" id="create_project_button"
                              outcome="manage_projects_page.xhtml" styleClass="floatRight150"/>
                    <p:button value="#{msg.helpText}" id="help_office_manager_button"
                              outcome="office_manager_help_page.xhtml" styleClass="floatRight150"/>
                </h:panelGroup>
            </p:panelGrid>
        </h:form>
        <h:form id="main_data_table_form">
            <p:panelGrid columns="1" layout="grid">
                <p:growl globalOnly="false" autoUpdate="true"/>
                <p:panelGrid columns="7" layout="grid" style="margin-bottom:10px" cellpadding="5">
                    <h:panelGrid columns="1">
                        <p:outputLabel value="#{msg.userNameText}"/>
                        <p:selectManyMenu id="users_name_menu" showCheckbox="true" style="height: 250px"
                                          filterMatchMode="contains" filter="true"
                                          value="#{officeManagerMainPageModelView.selectedUsers}"
                                          converter="#{senacor.com.evidencesystem.converter.UserConverter}">
                            <f:selectItems id="a" value="#{officeManagerMainPageModelView.users}" var="user"
                                           itemValue="#{user}"
                                           itemLabel=" #{user.firstName} #{user.lastName}"
                                           itemDescription="#{user.email}"/>
                        </p:selectManyMenu>
                    </h:panelGrid>
                    <h:panelGrid columns="1">
                        <p:outputLabel value="#{msg.projectText}"/>
                        <p:selectManyMenu id="projects_menu" showCheckbox="true" filter="true"
                                          filterMatchMode="contains"
                                          value="#{officeManagerMainPageModelView.selectedProjects}"
                                          style="height: 250px">
                            <f:selectItems var="project" itemLabel=" #{project}"
                                           value="#{officeManagerMainPageModelView.projectsNameList}"/>
                        </p:selectManyMenu>
                    </h:panelGrid>
                    <h:panelGrid columns="1">
                        <p:outputLabel value="#{msg.monthText}"/>
                        <p:selectManyMenu id="moths_menu" showCheckbox="true" filter="true" filterMatchMode="contains"
                                          value="#{officeManagerMainPageModelView.selectedMonths}"
                                          style="height: 250px">
                            <f:selectItems var="month" itemLabel=" #{month}"
                                           value="#{officeManagerMainPageModelView.monthsList}"/>
                        </p:selectManyMenu>
                    </h:panelGrid>
                    <h:panelGrid columns="1">
                        <p:outputLabel value="#{msg.yearText}"/>
                        <p:selectManyMenu id="year_menu" showCheckbox="true" filter="true" filterMatchMode="contains"
                                          value="#{officeManagerMainPageModelView.selectedYears}" style="height: 250px">
                            <f:selectItems var="year" itemLabel=" #{year}"
                                           value="#{officeManagerMainPageModelView.yearsList}"/>
                        </p:selectManyMenu>
                    </h:panelGrid>
                    <h:panelGrid columns="1">
                        <p:outputLabel value="#{msg.finalisedText}"/>
                        <p:selectManyMenu id="finalised_menu" showCheckbox="true"
                                          value="#{officeManagerMainPageModelView.selectedTypeOfFinalization}">
                            <f:selectItems var="finalised" itemLabel=" #{finalised}"
                                           value="#{officeManagerMainPageModelView.typesOfFinalization}"/>
                        </p:selectManyMenu>
                    </h:panelGrid>
                    <h:panelGrid columns="1">
                        <p:outputLabel value="#{msg.confirmedDataText}"/>
                        <p:selectManyMenu id="type_of_data_menu" showCheckbox="true"
                                          value="#{officeManagerMainPageModelView.selectedDataTypes}">
                            <f:selectItems var="confirmed" itemLabel=" #{confirmed}"
                                           value="#{officeManagerMainPageModelView.typesOfData}"/>
                        </p:selectManyMenu>
                    </h:panelGrid>
                    <h:panelGrid columns="1">
                        <br/>
                        <p:commandButton value="#{msg.showResultsText}"
                                         id="show_resulst_b" action="#{officeManagerMainPageModelView.showResults}"
                                         styleClass="senacorButtonColor alignLeft"/>
                    </h:panelGrid>
                </p:panelGrid>
                <p:dataTable id="main_data_table" var="record" value="#{officeManagerMainPageModelView.recordsList}"
                             selection="#{officeManagerMainPageModelView.confirmedRecords}" reflow="true"
                             rowKey="#{record}" paginator="#{officeManagerMainPageModelView.paginator}"
                             rowStyleClass="#{record.locked ? 'lockedRecordsColor': 'unlockedRecordsColor'}"
                             paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}"
                             rows="#{officeManagerMainPageModelView.rowsPerPage}">
                    <p:ajax event="rowSelectCheckbox" listener="#{officeManagerMainPageModelView.enableExcelExport}"/>
                    <p:ajax event="rowUnselectCheckbox"
                            listener="#{officeManagerMainPageModelView.disableExcelExport}"/>
                    <p:ajax event="toggleSelect" listener="#{officeManagerMainPageModelView.toggleCheckBoxEvent}"/>

                    <p:ajax event="rowSelectCheckbox"/>

                    <f:facet name="header">
                    </f:facet>
                    <p:column selectionMode="multiple" styleClass="selectionColumn" exportable="false"/>
                    <p:column headerText="#{msg.nameText}" sortBy="#{record.user.lastName}">
                        <h:outputText id="user_name_data_table"
                                      value="#{record.user.firstName} #{record.user.lastName}"/>
                    </p:column>
                    <p:column headerText="#{msg.dateText}" sortBy="#{record.date}">
                        <h:outputText id="date_data_table" value="#{record.date}"/>
                    </p:column>
                    <p:column headerText="#{msg.timeOfStartText}">
                        <h:outputText id="time_of_start_data_table" value="#{record.timeOfStart}"/>
                    </p:column>
                    <p:column headerText="#{msg.timeOfEndText}">
                        <h:outputText id="time_of_end_data_table" value="#{record.timeOfEnd}"/>
                    </p:column>
                    <p:column headerText="#{msg.durationOfPauseText}">
                        <h:outputText id="duration_of_pause_data_table" value="#{record.durationOfPause}"/>
                    </p:column>
                    <p:column headerText="#{msg.totalTimeText}">
                        <h:outputText id="total_time_data_table"
                                      value="#{officeManagerMainPageModelView.calculateTotalTimeForRecord(record)}"/>
                    </p:column>
                    <f:facet id="footer" name="footer">
                        <p:commandButton id="export_to_excel_button" style="float:right" styleClass="senacorButtonColor"
                                         disabled="#{!officeManagerMainPageModelView.recordsSelected}"
                                         value="#{msg.exportToExcelText}" ajax="false">
                            <p:dataExporter type="xls" target="main_data_table" fileName="WerkStudent"
                                            selectionOnly="true"
                                            postProcessor="#{officeManagerMainPageModelView.postProcess}"/>
                        </p:commandButton>
                        <p:commandButton value="#{msg.confirmSelectedInputs}"
                                         action="#{officeManagerMainPageModelView.confirmSelectedRecords}"
                                         styleClass="senacorButtonColor"/>
                        <p:selectOneMenu id="paginator" styleClass="marginLeft20" onchange="submit()"
                                         valueChangeListener="#{officeManagerMainPageModelView.changePagination}">
                            <f:selectItems value="#{officeManagerMainPageModelView.paginatorList}"/>
                        </p:selectOneMenu>

                        <p:commandButton value="#{msg.unlockText}" styleClass="senacorButtonColor marginLeft20"
                                         action="#{officeManagerMainPageModelView.unlockRecords}"/>
                        <p:growl id="growl" showDetail="true" sticky="false" life="2000"/>
                    </f:facet>
                </p:dataTable>
            </p:panelGrid>
        </h:form>
    </h:body>
</f:view>
</html>