<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<f:view locale="#{loginBean.locale}">
    <h:head>
        <title>#{msg.helpText}</title>
        <h:outputStylesheet library="css" name="styles.css"/>
    </h:head>
    <h:body>
        <h:form>
            <p:panelGrid columns="3" layout="grid" columnClasses="columnStyleLeft,columnStyleMiddle, columnStyleRight">
                <h:graphicImage value="resources/images/senacor_logo_white.png"/>
                <p:outputLabel id="welcome_text_admin"
                               value="#{officeManagerMainPageModelView.loggedUsersName} #{msg.officeManagerText}"/>
                <h:panelGroup>
                    <p:commandButton id="logout_b_office_manager" value="#{msg.logOutText}" styleClass="floatRight90"
                                     action="#{loginBean.logout}"/>
                    <p:button value="#{msg.homeText}" id="create_project_home_b"
                              outcome="office_manager_main_page.xhtml"
                              styleClass="floatRight90"/>
                </h:panelGroup>
            </p:panelGrid>
        </h:form>
        <br/>
        <h:graphicImage name="images/office_manager_help.png" styleClass="centerImage"/>

        <div class="centerText25">
            <p>#{msg.showResultsHelp}</p>

            <p>#{msg.recordsNotLockedHelp}</p>

            <p>#{msg.confirmedRecordsHelp}</p>

            <p>#{msg.recordsLockedHelp}</p>

            <p>#{msg.confirmationHelp}</p>

            <p>#{msg.unlockHelp}</p>

            <p>#{msg.exportHelp}</p>
        </div>
    </h:body>
</f:view>
</html>