<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view locale="#{loginBean.locale}">
    <h:head>
        <title>#{msg.helpText}</title>
        <h:outputStylesheet library="css" name="styles.css"/>
    </h:head>
    <h:body>
        <h:form>
            <p:panelGrid columns="3" layout="grid" columnClasses="columnStyleLeft,columnStyleMiddle, columnStyleRight">
                <h:graphicImage value="resources/images/senacor_logo_white.png"/>
                <p:outputLabel id="text_student"
                               value="#{studentMainPageModelView.userName} (#{studentMainPageModelView.userRank})"/>
                <h:panelGroup>
                    <p:commandButton value="#{msg.logOutText}" id="log_out_b_student_main_p" styleClass="floatRight90"
                                     action="#{loginBean.logout}"/>
                    <p:button id="home_button_project_page" value="#{msg.backText}" outcome="student_project_page.xhtml"
                              styleClass="floatRight90"/>
                </h:panelGroup>
            </p:panelGrid>
        </h:form>
        <br/>
        <p:graphicImage name="images/student_help.png" styleClass="centerImage"/>

        <div class="centerText50">
            <p>#{msg.putDataHelp}</p>

            <p>#{msg.deleteDataHelp}</p>

            <p>#{msg.lockDataHelp}</p>
        </div>
    </h:body>
</f:view>
</html>